-- ============================================================
-- 校园报障工单与IT资产管理系统 · 数据库建表语句（DDL）
-- 数据库：ticket_system   字符集：utf8mb4
-- 由 JPA(ddl-auto=update) 依据实体自动生成，此处为真实导出
-- ============================================================

-- 管理员表
CREATE TABLE `admin_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(64) NOT NULL,
  `password_hash` varchar(100) NOT NULL,
  `display_name` varchar(64) DEFAULT NULL,
  `enabled` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- 教师(用户)表
CREATE TABLE `app_user` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(64) NOT NULL,
  `password_hash` varchar(100) NOT NULL,
  `display_name` varchar(64) DEFAULT NULL,
  `phone` varchar(64) DEFAULT NULL,
  `enabled` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_app_username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- 登录令牌表(令牌落库,重启不掉线)
CREATE TABLE `auth_token` (
  `token` varchar(64) NOT NULL,
  `username` varchar(64) NOT NULL,
  `role` varchar(16) NOT NULL,
  `expires_at` datetime(6) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`token`),
  KEY `idx_token_user_role` (`username`,`role`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- 注册邀请码表
CREATE TABLE `invite_code` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(32) NOT NULL,
  `note` varchar(128) DEFAULT NULL,
  `max_uses` int NOT NULL,
  `used_count` int NOT NULL,
  `enabled` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_invite_code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- 报修工单表
CREATE TABLE `ticket` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `code` varchar(32) NOT NULL,
  `reporter` varchar(64) NOT NULL,
  `contact` varchar(64) DEFAULT NULL,
  `location` varchar(128) NOT NULL,
  `asset_no` varchar(64) DEFAULT NULL,
  `category` varchar(32) NOT NULL,
  `title` varchar(128) NOT NULL,
  `description` varchar(1000) DEFAULT NULL,
  `urgency` varchar(8) NOT NULL,
  `status` varchar(8) NOT NULL,
  `handler` varchar(64) DEFAULT NULL,
  `resolution` varchar(1000) DEFAULT NULL,
  `images` varchar(1000) DEFAULT NULL,
  `user_id` bigint DEFAULT NULL,
  `urge_count` int NOT NULL,
  `last_urged_at` datetime(6) DEFAULT NULL,
  `user_unread` bit(1) NOT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `resolved_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_code` (`code`),
  KEY `idx_status` (`status`),
  KEY `idx_category` (`category`),
  KEY `idx_location` (`location`),
  KEY `idx_ticket_asset_no` (`asset_no`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- 工单跟进记录表
CREATE TABLE `ticket_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ticket_id` bigint NOT NULL,
  `content` varchar(500) NOT NULL,
  `author` varchar(64) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ticket` (`ticket_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- IT资产台账表
CREATE TABLE `asset` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `asset_no` varchar(64) NOT NULL,
  `type` varchar(32) NOT NULL,
  `brand_model` varchar(128) DEFAULT NULL,
  `serial_no` varchar(128) DEFAULT NULL,
  `ip` varchar(64) DEFAULT NULL,
  `mac` varchar(64) DEFAULT NULL,
  `location` varchar(128) DEFAULT NULL,
  `owner` varchar(64) DEFAULT NULL,
  `department` varchar(64) DEFAULT NULL,
  `purchase_date` date DEFAULT NULL,
  `warranty_end` date DEFAULT NULL,
  `supplier` varchar(128) DEFAULT NULL,
  `purchase_order` varchar(64) DEFAULT NULL,
  `status` varchar(16) NOT NULL,
  `remark` varchar(1000) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_asset_no` (`asset_no`),
  KEY `idx_asset_type` (`type`),
  KEY `idx_asset_status` (`status`),
  KEY `idx_asset_location` (`location`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;

-- 系统设置表(键值:钉钉配置/报修选项等)
CREATE TABLE `system_setting` (
  `setting_key` varchar(64) NOT NULL,
  `setting_value` varchar(4000) DEFAULT NULL,
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
